.footer{
	background: #132A3E;
	padding-top: 60px;
	padding-bottom: 30px;
	font-family: $sf;
	.footer_grid{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		padding-bottom: 30px;
		.footer_grid-left{
			width: 45%;
			display: flex;
			justify-content: space-between;
		}

		.footer_grid-right {
			width: 45%;
		}

		.footer_grid-form {
			width: 36%;
			.footer_form-title {
				font-size: 21px;
				font-family: "manrope", sans-serif;
				font-weight: 800;
				margin-bottom: 15px;
				color: #fff;
			}

			.error-message {
				color: #8D191D;
				margin-left: 20px;
				position: absolute;
				font-size: 15px;
				margin-top: 5px;
			}
			.success-message {
				color: green;
				margin-left: 20px;
				position: absolute;
				font-size: 15px;
				margin-top: 5px;
			}

			form {
				position: relative;

				.email-input{
					display: block;
					width: 100%;
					padding: 14px 30px;
					border: none;
					border-radius: 30px;
					color: #fff;
					background: rgba(255, 255, 255, 0.1);
					font-size: 14px;
				}

				.email-input::placeholder{
					color: #fff;
					font-size: 14px;
				}

				.form-button{
					position: absolute;
					height: 45px;
					right: 0;
					top: -1px;
					display: block;
					width: 40%;
					padding: 14px 43px;
					background: rgba(255, 255, 255, 0.25);
					border: none;
					border-radius: 30px;
					color: #fff;
					transition: 0.5s ease;
					font-size: 14px;
				}

				.form-button:active{
					transform: scale(0.9);
				}

				.form-checkbox-container {
					display: flex;
					align-items: center;
				}

				input[type='checkbox'] {
					display: none;
				}

				input[type='checkbox']:checked + label .mark {
					visibility: visible;
					animation: check .2s;
				}

				input[type='checkbox']:not(:checked) + label .mark {
					width: 0;
					height: 0;
					visibility: hidden;
				}

				.checkbox {
					width: 24px;
					height: 24px;
					margin-right: 1em;
					position: relative;
					background: rgba(255, 255, 255, 0.1);
					border-radius: 8px;
				}

				label {
					cursor: pointer;
					font-size: 13px;
					color: #fff;
					font-family: sf-ui-light, sans-serif;
				}

				.mark {
					position: absolute;
					bottom: 13px;
					left: 5px;
					display: block;
					width: 8px;
					height: 13px;
					border-bottom: 2px solid #FFF;
					border-right: 2px solid #FFF;
					transform: rotate(45deg);
					transform-origin: bottom left;
				}

				@keyframes check {
					0% {
						width: 0;
						height: 0;
						border-right: 4px solid transparent;
					}

					10% {
						width: 0;
						height: 0;
						border-right: 4px solid transparent;
					}

					30% {
						width: 7px;
						height: 0;
						border-right: 4px solid transparent;
					}

					40% {
						width: 7px;
						height: 0;
						border-right: 4px solid transparent;
					}

					50% {
						width: 7px;
						height: 14px;
						border-right: 4px solid #FFF;
					}
				}

				.form-checkbox-container {
					margin-top: 33px;
				}

				.footer_form-agreement {
					font-family: sf-ui-light, sans-serif;
					margin-top: 18px;
					color: #FFFFFF;
					font-weight: 400;
					font-size: 11px;

					div {
						opacity: 0.5;
						margin-bottom: 4px;
					}
					a {
						font-size: 11px;
						color: #FFF;
						text-decoration: underline #fff;
					}
				}
			}
		}
	}
	.footer_box{
		color: #fff;
		.footer_box-title{
			font-size: 21px;
			font-family: $manrope;
			font-weight: 800;
			margin-bottom: 20px;
		}
		.footer_box_address_line {
			font-size: 15px;
			margin-bottom: 15px;
			color: #fff;
		}
		.footer_box-link{
			display: block;
			font-size: 15px;
			color: #fff;
			margin-bottom: 15px;
		}
		.footer_box-soc{
			display: flex;
			margin-top: 20px;
			.vk{
				margin-top: 5px;
			}
			img{
				width: 24px;
				height: 100%;
				margin: 0 10px;
			}
			.tg {
				height: 90%;
			}
		}
		.footer_box__subcrub{
			display: flex;
			width: 100%;
			height: 48px;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 100px;

			input{
				background: none;
				border: none;
				color: #fff;
				font-size: 14px;
				height: 48px;
				line-height: 48px;
				padding-left: 25px;
				padding-right: 10px;
				width: calc(100% - 175px);
			}
			button{
				border: none;
				background: rgba(255, 255, 255, 0.25);
				border-radius: 100px;
				color: #fff;
				font-size: 14px;
				width: 175px;
				height: 48px;
				font-weight: 500;
			}
		}
		.footer_box__pact{
			margin-top: 30px;
		}
		.footer_box__pact-info{
			margin-top: 10px;
			color: rgba(255, 255, 255, 0.3);
			span{
				font-size: 11px;
			}
			a{
				font-size: 11px;
				color: rgba(255, 255, 255, 0.7);
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.foot{
		display: flex;
		margin-top: 30px;
		.foot-item{
			width: 25%;
			color: #fff;
			font-size: 11px;
		}
		a{
			font-size: 11px;
			color: rgba(255, 255, 255, 0.4);
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}

}
@media screen and (max-width: 1024px) {
	.footer .footer_grid .footer_grid-left{
		width: 100%;
	}
}
