.stocks{
	margin-top: 30px;
	position: relative;
	img{
		width: 100%;
	}
	.slick-list {
		border-radius: 30px;
	}
	.arr{
		position: absolute;
		top: 50%;
		width: 48px;
		height: 48px;
	}

	.slick-prev,
	.slick-next {
		height: 40px;
	}

	.slick-prev:before {
		content: url("/images/icon/slide-left.svg");
		position: relative;
		right: 50px;
		transition: all 0.3s ease-in-out;
	}
	.slick-prev:hover:before {
		content: url("/images/icon/slide-left-hov.svg");
	}

	.slick-next:before {
		content: url("/images/icon/slide-right.svg");
		position: relative;
		transition: all 0.3s ease-in-out;
	}

	.slick-next:hover:before {
		content: url("/images/icon/slide-right-hov.svg");
	}

	.stocks__points{
		display: flex;
		margin-top: 15px;
		justify-content: center;
		text-align: center;
		li{
				display: inline-block;
		}
		button{
				font-size: 0px;
				height: 2px;
				cursor: pointer;
				width: 24px;
				margin: 0 12px;
				background-color: #ABABAB;
				border-radius: 1.5em;
				border: none;
		}
		.slick-active button{
				background-color: #8D191D;
		}
	}
}
@media screen and (max-width: 1024px) {
	.stocks .slick-prev,.stocks .slick-next{
		display: none !important;
	}
}
