html,
body {
	font-family: "Tilda Sans", serif;
	min-height: 100vh;
	font-feature-settings: "lnum";
	font-style: normal;

	& {
		font-family: "Tilda Sans", sans-serif;
	}
}

body {
	min-width: 360px;
	max-width: 760px;
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

.flex-center {
	align-items: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.flex-big {
	flex: 2 1 0;
}

.flex-small {
	flex: 1 1 0;
}

.gap {
	&-4 {
		gap: 4px;
	}

	&-8 {
		gap: 8px;
	}

	&-16 {
		gap: 16px;
	}
}

.modal {
	&:not(.react-draggable-dragging) {
		transition: transform ease .3s;
	}

	position: fixed;
	width: 100%;
	bottom: 0;
	max-width: 760px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 8888;

	&:before {
		position: absolute;
		content: '';
		width: 48px;
		height: 4px;
		background-color: #fff;
		border-radius: 8px;
		left: 50%;
		transform: translateX(-50%);
		top: -12px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background: #fff;
		border-radius: 17px 17px 0 0;
		max-height: 90vh;
		overflow-y: auto;
		box-shadow: 0px 0px 16px 0px rgba(17, 17, 17, 0.40);

	}

	&__bg {
		z-index: 7777;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: var(--background, rgba(19, 42, 62, 0.50));
	}

	&__bg-children {
		z-index: 8888;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: var(--background, rgba(19, 42, 62, 0.50));
		backdrop-filter: blur(2px);
	}

	&__header {
		display: flex;
		padding: 4px;
		align-items: center;
		align-self: stretch;

		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 48px;
			height: 48px;
			padding: 4px;

			img {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 16px;

		.bold {
			font-weight: bold;
		}

		strong {
			color: $c-red;
		}

		p {
			color: $c-gray;
			padding-bottom: 8px;
		}
	}

	&__btn {
		width: 48px;
		height: 48px;
	}

	.no-drag {
		//cursor: pointer;
	}
}

.modal_full_bg {
	height: 100%;
	left: 0;
	position: fixed;
	top: 80px;
	width: 100%;
	z-index: 777;
	background: var(--background,rgba(19,42,62,.5));

	.modal_full {
		bottom: 0;
		left: 0;
		margin: 0 auto;
		max-width: 760px;
		position: fixed;
		right: 0;
		width: 100%;
		z-index: 9999;

		
	}
}
.modal_fullpage{
	height: 100%;
  z-index: 9999;
	.modal__wrapper {
		height: 100%;
		max-height: 100%;
	}
}
.modal__bg_childen{
	.modal__bg{
		z-index: 8889;
	}
	
	.modal{
		z-index: 9999;
	}
}

.price--cost {
	display: flex;
	align-self: center;
	align-items: flex-end;
	gap: 4px;
	color: $c_red;

	span {
		position: relative;
		color: $c-black;

		&:after {
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: rotate(-15deg) translateX(5%);
			width: 100%;
			height: 2px;
			background: $c-red;
		}
	}
}

.form__field-wrapper {
	width: 100%;

	.form__field-wrapper__error {
		color: $c-red;
	}
}

.ikkostreet_box {
	margin: 0 10px;

	.ikkostreet_box-item {
		cursor: pointer;
		margin-bottom: 10px;
		font-family: Tilda Sans VF;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #f2f2f2;
	}
}

.adress_fild .d-flex {
	margin-bottom: 15px;
}


.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.tick {
  font-size: 1.3em;
	text-align: center;
}
.counter-tik_box{
	width: 100%;
	margin: 5% 0;
}
.counter-tik_title{	
	font-family: 'manrope';
	font-weight: 600;
	font-size: 41px;
	text-align: center;
	margin-bottom: 20px;
}
.counter-tik_point{
	font-family: 'manrope';
	font-weight: 500;
	font-size: 32px;
	text-align: center;
	margin-bottom: 20px;
}
@media only screen and (max-width: 520px) and (orientation: portrait) {
	.institute-counter{
		flex-direction: column;
	}
}