  .product-card{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 100%;
    min-width: 160px;
    border-radius: 17px;
    background: #FFF;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;

		
    &-img{
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;
			cursor: pointer;
			
      img{
        border-radius: 17px 17px 0 0;
        width: 160px;
        height: 160px;

        .ended &{
          opacity: 0.4;
        }
      }
    }

    &-sale{
      display: none;

      .sale &{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 8px;
        bottom: 8px;
        padding: 0 2px;
        transform: rotate(-5deg);
        border-radius: 4px;
        background: #8D191D;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
      }
    }

    &.ended {
      pointer-events: none;

      .product-card-sale {
        background: #BFBFBF;
      }
			
    }

    &-ended{
      display: none;
			
      .ended &{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 25px;
        bottom: 55px;
        padding: 4px;
        transform: rotate(-10deg);
        border-radius: 8px;
        background: #FDCB3D;
        color: $c-black;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
      }
    }

    &__content{
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1 1 0;
      padding: 8px 8px 0 8px;
			
      &-title{
        flex: 1 1 0;
        color: $c-black;
				cursor: pointer;
        font-weight: 600;
				font-size: 16px;

      }

      &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-weight{
          color: #B3B3B3;

          .ended &{
            color: #BFBFBF;
          }
        }
      }
    }

    &__button{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 8px;

      .addtocart{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        padding: 4px;
        color: $c_red;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        border: none;
        border-radius: 12px;
				cursor: pointer;
        background: #E6E6E6;

        & svg{
          width: 16px;
          height: 16px;
          fill: #8D191D;
        }

        .ended &{
          color: #BFBFBF;
          background: #F2F2F2;

          svg{
            fill: #BFBFBF;
          }
        }
      }
    }
  }

  .basket__more .product-card{
    min-width: 104px;

    &.added{
      button{
        background: #8D191D;
        svg{
          fill: #fff;

          path{
            d: path("M5.99975 10.7999L3.66642 8.46655C3.40642 8.20655 2.99309 8.20655 2.73309 8.46655C2.47309 8.72655 2.47309 9.13988 2.73309 9.39988L5.52642 12.1932C5.78642 12.4532 6.20642 12.4532 6.46642 12.1932L13.5331 5.13322C13.7931 4.87322 13.7931 4.45988 13.5331 4.19988C13.2731 3.93988 12.8598 3.93988 12.5998 4.19988L5.99975 10.7999Z");
          }
        }
      }
    }

    &-img{

      img{
        width: 104px;
        height: 104px;
      }
    }

    &-ended{
      left: 7px;
      bottom: 35px;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
    }

    &.ended {
      .product-card__content__info{
        &-title {
          color: #B3B3B3;
        }

        &-weight{
          color: #B3B3B3;
        }
      }
      .product-card__button{
        button{
          color: #BFBFBF;
          background: #F2F2F2;

          svg{
            fill: #BFBFBF;
          }
        }
      }
    }

    &-sale{
      font-size: 12px;
    }

    &__content{
      &__info{
        flex-direction: column;
        align-items: flex-start;
        flex: 1 1 0;

        &-title{
          flex: 1 1 0;
          color: $c-black;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
        }

        &-weight{
          color: #B3B3B3;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
        }
      }

      &__price{
        display: flex;
        justify-content: flex-end;

        &-cost{
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }
    }

    &__button{
      button{
        height: 28px;
        svg{
          fill: #8D191D;
          path{
            d: path("M11.9997 8.66683H8.66634V12.0002C8.66634 12.3668 8.36634 12.6668 7.99967 12.6668C7.63301 12.6668 7.33301 12.3668 7.33301 12.0002V8.66683H3.99967C3.63301 8.66683 3.33301 8.36683 3.33301 8.00016C3.33301 7.6335 3.63301 7.3335 3.99967 7.3335H7.33301V4.00016C7.33301 3.6335 7.63301 3.3335 7.99967 3.3335C8.36634 3.3335 8.66634 3.6335 8.66634 4.00016V7.3335H11.9997C12.3663 7.3335 12.6663 7.6335 12.6663 8.00016C12.6663 8.36683 12.3663 8.66683 11.9997 8.66683Z");
          }
        }
      }
    }
  }

  .product-card__content__price-cost, .product-card__content__info-cost{
    display: flex;
    align-self: center;
    align-items: center;
    gap: 4px;
    color: $c_red;
		font-size: 24px;
		font-weight: 700;
    .ended &{
      color: #BFBFBF;
    }

    span {
      small{
        .ended &{
          color: #B3B3B3;
        }
      }

      &:after {
        .ended &{
          background: #BFBFBF;
        }
      }
    }
  }