@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@font-face {
  font-family: "Tilda Sans";
  src:  url('../fonts/TildaSans-VF.ttf') format('truetype'),
        url('../fonts/TildaSans-VF.woff') format('woff'),
        url('../fonts/TildaSans-VF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}