.checkout_page{
	padding-bottom: 200px;
}
.cart_page-title{
	font-size: 26px;
	font-weight: 500;
	color: #666666;
	font-family: $manrope;
	text-align: center;
	margin-top: 10px;
}
.back_shop{
	font-family: $sf;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ABABAB;
	border-radius: 200px;
	font-size: 13px;
	width: 180px;
	height: 36px;
	padding: 9px 31.5px;
	color: #ABABAB;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
	a {
		color: #ABABAB;
	}
	&:hover {
		border-color: #333333;
		font-family: $sf;
		font-weight: 600;
		a {
			color: #333333;
		}
	}
}
.cart_page-container{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	height: 720px;
	.cart_page__order{
		width: 48%;
	}
	.cart_page__basked{
		width: 48%;
	}
	.cart__form{
		height: auto;
		margin-bottom: 10px;
		padding-right: 10px;
		padding-bottom:10px;
		overflow: auto;
	}
	.cart__order-btnbox{
		background-color: #fff;

	}
	.server-error{
		margin-top: 15px;
		margin-bottom: 20px;
		background-color: rgba(255,0,0,.1);
		border: 1px solid #8D191D;;
		padding: 10px 5px;
		color: #8D191D;;
		font-size:11px;
	}
}
.cart_page-container--center{
	justify-content: center !important;
	height: auto;
}
// оформление
.cart_order-top{
	margin-bottom: 20px;
}
.cart_map-delivery{
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	.cart_map-delivery--map{
		width: 100%;
		height: 200px;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.cart_map-delivery--name{
		padding: 15px;
		font-size: 13px;
		color: #333;
	}
}

.payment_section{
	position: relative;
}
.payment_list{
	display: none;
	position: absolute;
	background: #FFFFFF;
	border-radius: 15px;
	top: 55px;
	left: 0;
	width: 97%;
	padding: 5px 15px;
	margin: 0 10px;
	box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.05), 0px 0px 18.1551px rgba(0, 0, 0, 0.037963), 0px 0px 9.87407px rgba(0, 0, 0, 0.0303704), 0px 0px 5.0375px rgba(0, 0, 0, 0.025), 0px 0px 2.52593px rgba(0, 0, 0, 0.0196296), 0px 0px 1.21991px rgba(0, 0, 0, 0.012037);
	z-index: 3;
	.payment_list-item{
		height: 50px;
		line-height: 50px;
		cursor: pointer;
		border-bottom: 1px solid #CCCCCC;
		&:last-child{
			border: none;
		}
	}
	.payment-item_box--name{
		font-size: 15px;
		color: #ABABAB;
	}
	.payment_ok{
		display: none;
	}
	.payment_list-item.active{
		.payment-item_box--name{
			color: #333333;
		}
		.payment_ok{
			display: block;
		}
		svg{
			fill: #8D191D;
		}
	}

}
.payment_list.open{
	display: block;
}

.payactive{
	svg{
		fill: #8D191D;
	}
}


.payment-item_box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.payment-item_box--name{
	display: flex;
	.form__field-wrapper__placeholder__ico{
		margin-right: 15px;
		margin-top: 3px;
	}
}

.card_subscrub{
	.custom-checkbox+label::before{
		border: 1px solid #CCCCCC;
	}
	.custom-checkbox:checked+label::before {
		border: 1px solid #CCCCCC;
		@include bgImage('/images/icon/ok-icon-red.png');
		background-size: 12px 9px;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
// товары
.cart_page__basked{
	border: 1px solid #CCCCCC;
	border-radius: 30px;
	padding: 30px;
}


.ordering{
	margin-top: 5%;
}
.ordering_head{
	text-align: center;
	.cart_title-box{
		margin-top: 20px;
		margin-bottom: 30px;
	}
}