.pravo_page {
  padding-bottom: 200px;
}

.text_atom {
  color: #333333;
  font-size: 35px;
  font-family: 'TildaSans',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  margin: 60px 0 25px 0;
}

.hrefs {
  width: 666px;
}

.href {
  a {
    margin: -5px 0;
    display: inline-block;
    cursor: pointer;
    color: rgb(143, 44, 44);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none;
    text-decoration: none;
    font-size: 17px;
    font-family: 'TildaSans',Arial,sans-serif;
    font-weight: 600;
    visibility: visible;
  }
}

.pravo_nav {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 36px;
  padding: 9px 31.5px;
  color: #132a3e;
  font-size: 16px;
  font-family: 'monrope',Arial,sans-serif;
  text-align: center;
  margin: 25px 15px 0 15px;
  cursor: pointer;
  a {
    color: #132a3e;
    margin: 0 20px;
  }
}