.categories-desc{
	box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.1);
}

/*
@media only screen and (min-width: 780px) {
	.categories{
		box-shadow: none;
	}
	.catalogue-content__cards{

		display: flex;
		flex-wrap: wrap;
		
		//grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	
		//gap: 10px;
	}
	.product-card{
		min-width: 15%;
		margin-right: .5%;
		margin-left: .6%;
		margin-bottom: 10px;
		margin-top: 5px;
	}
}
*/


.stocks-desc{
	margin-top: 30px;
	margin-bottom: 60px;
	position: relative;
	height: 400px;
	img{
		width: 100%;
	}
	.slick-list {
		border-radius: 30px;
	}
	.arr{
		position: absolute;
		top: 50%;
		width: 48px;
		height: 48px;
	}

	.slick-prev,
	.slick-next {
		height: 40px;
	}

	.slick-list{
		border: none !important;
	}

	.stocks__item img {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding:10px 20px;
		height:400px;
		box-shadow:none;
		border-radius: 30px;
	}
	

	.stocks__points{
		display: flex;
		margin-top: 15px;
		justify-content: center;
		text-align: center;
		li{
				display: inline-block;
		}
		button{
				font-size: 0px;
				height: 2px;
				cursor: pointer;
				width: 24px;
				margin: 0 12px;
				background-color: #ABABAB;
				border-radius: 1.5em;
				border: none;
		}
		.slick-active button{
				background-color: #8D191D;
		}
	}
}

.stocks-desc .slick-list{
	border-radius:0;
}

.catalogue-content_container-desc{
	display: flex;
	flex-wrap: nowrap;
	.catalogue-content__cards{
		width: 60%;
	}
	.catalogue-content__basket{
		width: 40%;
	}
}

@media screen and (max-width: 1024px) {
	.stocks-desc .slick-prev,.stocks .slick-next{
		display: none !important;
	}
}