.main-info {
  background: url("../assets/img/profile-pictures/back-hinkali.svg");
  width: 100%;
  padding-bottom: 48px;

  .settings-greeting {
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
    .settings-btn {
      border: 2px solid #BDBDBD;
      padding: 5px;
      border-radius: 10px;
      margin-right: 30px;
      height: 38px;
    }
    .greeting {
      margin-left: 30px;
      span {
        font-family: 'SF UI Display', sans-serif;
        font-size: 13px;
        font-weight: 700;
        color: #8D191D;
      }
      h2 {
        margin-top: 5px;
        font-family: 'SF UI Display', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #132A3E;
      }
    }
  }

  .profile-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
    .profile-menu-item {
      width: 40%;
      background-color: #fff;
      border-radius: 10px;
      height: 120px;
      margin-top: 15px;
      box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
      .title {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        font-family: 'SF UI Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
      }
      span {
        height: 48px;
        width: 48px;
      }
      .icon-container {
        display: flex;
        justify-content: end;
        .point-icon {
          background: url("../assets/i/personal-profile/point.svg") no-repeat;
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        .percent-icon {
          background: url("../assets/i/personal-profile/percent.svg") no-repeat;
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }

    }
  }
}

.stocks-title {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #8D191D;
  margin-left: 30px;
}
